<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjut.jwc.dao.StudentsDao">

    <select id="findStudents" resultType="com.zjut.jwc.entity.Students">
        SELECT * FROM Students
        <if test="sno != null and sno != ''" >
            WHERE Sno = #{sno}
        </if>
    </select>

</mapper>